body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #edeef0;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    /* width: 1901px; */
    background-color: #4a76a8;
}

.low-header {
    align-items: center;
    width: 990px;
}